html, body {
  height: 100%;
  width: 100%;
  border-width:0;
  background-color:rgb(0, 0, 0);
}
/* TS Text: rgb(255, 203, 31) */
.directions {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
  justify-content: center;
}

.shopdirect {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: rgb(250, 226, 145);
  background-color: rgb(33, 32, 31);
  /* border-color: rgb(191, 78, 48); */
  /* border-radius: 3rem; */
  border-width: 0rem;
}

.shopdirect:hover {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: rgb(250, 226, 145);
  background-color: rgb(50, 50, 50);
  /*border-color: rgb(252, 191, 73); */
  /*border-radius: 3rem; */
  border-width: 0rem;
}

